<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5NHW93R');</script>
    <!-- End Google Tag Manager -->
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }} |{% endif %} {{ site.name | escape }} {% if site.job_title %}&mdash; {{site.job_title | escape }} {% endif %}</title>
    <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} |{% endif %} {{ site.name | escape }} {% if site.job_title %}&mdash; {{site.job_title | escape }} {% endif %}" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }} |{% endif %} {{ site.name | escape }} {% if site.job_title %}&mdash; {{site.job_title | escape }} {% endif %}" />

    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="description" property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

    
    <img style="display:none" src="https://placid.app/u/0zmbcpm7f?img=%24DEFAULT%24&headline={{ page.title | url_encode }}{% unless page.title %}{{ site.name | url_encode }}{% if site.job_title %}{{ " &mdash; " | url_encode }}{{site.job_title | url_escode }}{% endif %}{% endunless %}&author=%24DEFAULT%24&author-img=%24DEFAULT%24&author-byline=%24DEFAULT%24" data-pin-description="Pin Description" data-pin-url="{{page.url | prepend: site.baseurl | prepend: site.url}}"/>
 
    <meta property="twitter:image" content="https://placid.app/u/ebayqet1q?img=%24DEFAULT%24&headline={{ page.title | url_encode }}{% unless page.title %}{{ site.name | url_encode }}{% if site.job_title %}{{ " &mdash; " | url_encode }}{{site.job_title | url_encode }}{% endif %}{% endunless %}&author=%24DEFAULT%24&author-img=%24DEFAULT%24&author-byline=%24DEFAULT%24"/>
    <meta name="twitter:card" content="summary_large_image">
    {% if site.twitter_handler %}
    <meta name="twitter:site" content="@{{site.twitter_handler}}" />
    {% endif %}
    <meta property="og:url" content="{{page.url | prepend: site.baseurl | prepend: site.url}}" />

    <meta property="og:image" content="https://placid.app/u/0zmbcpm7f?img=%24DEFAULT%24&headline={{ page.title | url_encode }}{% unless page.title %}{{ site.name | url_encode}}{% if site.job_title %}{{ " &mdash; " | url_encode }}{{site.job_title | url_encode }}{% endif %}{% endunless %}&author=%24DEFAULT%24&author-img=%24DEFAULT%24&author-byline=%24DEFAULT%24"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:image:width" content="1200"/>

    <meta name="author" content="{{site.name}}" />

    <meta name="copyright" content="Copyright by {{site.name}}. All Rights Reserved." />

    {% include fonts.html %}
    {% if {{site.favicon != blank}} %}
    <link href="{{ site.favicon }}" rel="shortcut icon" type="image/x-icon" />
    {% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl | prepend: site.url}}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <script src="{{ site.baseurl | prepend: site.url }}/assets/js/jquery-1.12.2.min.js"></script>
    <script src="{{ site.baseurl | prepend: site.url }}/assets/js/backtotop.js"></script>
    <script src="{{ site.baseurl | prepend: site.url }}/assets/js/lunr.min.js"></script>
    <script src="{{ site.baseurl | prepend: site.url }}/assets/js/lunr-feed.js"></script>
    <script src="{{ site.baseurl | prepend: site.url }}/assets/js/jquery.fitvids.js"></script>
    <script src="{{ site.baseurl | prepend: site.url }}/assets/js/svg4everybody.min.js"></script>
    <script src="{{ site.baseurl | prepend: site.url }}/assets/js/scripts.js"></script>
    
    <link href="/mapsvg/css/mapsvg.css" rel="stylesheet">
    <link href="/mapsvg/css/nanoscroller.css" rel="stylesheet">
    <!-- script src="/mapsvg/js/jquery.js"></script -->
    <script src="/mapsvg/js/jquery.mousewheel.min.js"></script>
    <script src="/mapsvg/js/jquery.nanoscroller.min.js"></script>
    <script src="/mapsvg/js/mapsvg.min.js"></script>
    
    
</head>