<script type="text/javascript" id="hs-loader">
    window.helpShelfSettings = {
        "siteKey": "TN9wXkar",
        "userId": "",
        "userEmail": "",
        "userFullName": "",
        "userAttributes": {
            // Add custom user attributes here
        },
        "companyAttributes": {
            // Add custom company attributes here
        }
    };

    (function() {var po = document.createElement("script"); po.type = "text/javascript"; po.async = true;
    po.src = "https://s3.amazonaws.com/helpshelf-production/gen/loader/TN9wXkar.min.js";
    po.onload = po.onreadystatechange = function() {var rs = this.readyState; if (rs && rs != "complete" && rs != "loaded") return;HelpShelfLoader = new HelpShelfLoaderClass(); HelpShelfLoader.identify(window.helpShelfSettings);};
    var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);})();
</script>
